<% layout('layouts/boilerplate')%>
<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-3 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Edit Station Info</h5>
                    <form action="/stations/<%=station._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="station[location]" value="<%=station.location %>" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="date">Date (YYYY/MM/DD)</label>
                            <input class="form-control" type="text" id="date" name="station[date]" value="<%=station.date %>" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="train">Train (No. & Name)</label>
                            <input class="form-control" type="text" id="train" name="station[train]" value="<%=station.train %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Add Images</label>
                            <input class="form-control" type="file" id="image" name="image" multiple>
                        </div>
                        <div class="mb-3">
                            <% station.images.forEach(function(img, i) { %>
                                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="image-<%= i%>" name="deleteImages[]" value="<%= img.filename%>">
                                </div>
                                <label for="image-<%= i%>">Delete?</label>
                            <% }) %>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="haveMap" id="haveMap" value="<%=station.haveMap %>" checked>
                            <label class="form-check-label" for="haveMap">
                              Is there a route map?
                            </label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" id="description" name="station[description]"><%= station.description %></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-info">Update This Station</button>      
                        </div> 
                    </form>
                    <a href="/stations/<%= station._id%>" class="btn btn-secondary active" role="button" aria-pressed="true">Back to Station</a>
                </div>
            </div>
        </div>
    </div>
</div>